@import './variables.scss';
@import './transition.scss';
@import './package/info.scss';
@import './font.scss';
@import './icon.scss';

.fat-icon {
  display: inline-block;
  position: relative;
  font-size: 32px;
  &__image {
    width: 1em;
    height: 1em;
  }
}
