@import '~@/style/variables.scss';
@import '~@/style/transition.scss';
@import '~@/style/mixin.scss';

.fat-radio {
  display: flex;
  align-items: center;
  &__icon {
    height: 1em;
    font-size: 20px;
    line-height: 1em;
    display: flex;
    .fat-icon {
      border: 1px solid #c8c9cc;
      display: block;
      box-sizing: border-box;
      width: 1.25em;
      height: 1.25em;
      color: transparent;
      font-size: 0.8em;
      line-height: 1.25;
      text-align: center;
      &::before {
        opacity: 0;
      }
    }
    &--checked {
      .fat-icon {
        color: #fff;
        background-color: #1989fa;
        border-color: #1989fa;
        @include scale();
        &::before {
          opacity: 1;
        }
      }
    }
    &--disabled {
      cursor: not-allowed;
      .fat-icon {
        background-color: #ebedf0 !important;
        border-color: #c8c9cc !important;
        color: #999;
      }
    }
    &--round {
      .fat-icon {
        border-radius: 50%;
      }
    }
  }
  &__label {
    background-color: #fff;
    text-decoration: none;
    padding-left: 8px;
  }
}
