@import './variables.scss';
@import './transition.scss';
@import './package/info.scss';

.fat-loading {
  font-size: 32px;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__warp {
    position: relative;
    display: flex;
    align-items: center;
    .fat-icon {
      animation: fat-rotate 2s linear infinite;
    }
  }
  &--vertical {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    padding-left: 10px;
  }
  &__rotate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0));
    border-radius: 50%;
  }
}
