.fat {
  // 显隐渐变
  &-fade {
    &-enter-active {
      animation: fat-fade-enter $animation-duration-base both;
    }
    &-leave-active {
      animation: fat-fade-leave $animation-duration-base both;
    }
  }
  // 从上到下
  &-popup-slide-top {
    &-enter-active {
      animation: fat-slide-top-enter $animation-duration-base both;
    }
    &-leave-active {
      animation: fat-slide-top-leave $animation-duration-base both;
    }
  }
  // 从下到上
  &-popup-slide-bottom {
    &-enter-active {
      animation: fat-slide-bottom-enter $animation-duration-base both;
    }
    &-leave-active {
      animation: fat-slide-bottom-leave $animation-duration-base both;
    }
  }
  // 从左到右
  &-popup-slide-left {
    &-enter-active {
      animation: fat-slide-left-enter $animation-duration-base both;
    }
    &-leave-active {
      animation: fat-slide-left-leave $animation-duration-base both;
    }
  }
  // 从右到左
  &-popup-slide-right {
    &-enter-active {
      animation: fat-slide-right-enter $animation-duration-base both;
    }
    &-leave-active {
      animation: fat-slide-right-leave $animation-duration-base both;
    }
  }
}

@keyframes fat-fade-enter {
  from {
    opacity: 0;
  }
}

@keyframes fat-fade-leave {
  to {
    opacity: 0;
  }
}

@keyframes fat-slide-top-enter {
  from {
    transform: translate3D(0, -100%, 0);
  }
}

@keyframes fat-slide-top-leave {
  to {
    transform: translate3D(0, -100%, 0);
  }
}

@keyframes fat-slide-bottom-enter {
  from {
    transform: translate3D(0, 100%, 0);
  }
}

@keyframes fat-slide-bottom-leave {
  to {
    transform: translate3D(0, 100%, 0);
  }
}

@keyframes fat-slide-left-enter {
  from {
    transform: translate3D(-100%, 0, 0);
  }
}

@keyframes fat-slide-left-leave {
  to {
    transform: translate3D(-100%, 0, 0);
  }
}

@keyframes fat-slide-right-enter {
  from {
    transform: translate3D(100%, 0, 0);
  }
}

@keyframes fat-slide-right-leave {
  to {
    transform: translate3D(100%, 0, 0);
  }
}
