@import '~@/style/variables.scss';
@import '~@/style/transition.scss';

.fat-dialog {
  min-width: 70%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid red;
  overflow: hidden;
  text-align: center;
  position: fixed;
  font-size: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  padding: 0;
  &__header {
    padding-top: 26px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
  &__content {
    flex: 1;
    max-height: 60vh;
    padding: 26px 24px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }
  &__content--has-title {
    padding-top: 8px;
    color: #646566;
  }
  &__footer {
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  &__confirm {
    height: 48px;
    flex: 1;
    margin: 0;
    border: 0;
  }
}
